{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <h2 class="mb-4">
        🎁 Voucher Saya
    </h2>

    {% if claims %}

        <div class="row">

        {% for claim in claims %}

            <div class="col-md-4 mb-4">

                <div class="card shadow">

                    {% if claim.voucher.image %}
                    <img src="{{ claim.voucher.image.url }}"
                         class="card-img-top">
                    {% endif %}

                    <div class="card-body">

                        <h5>{{ claim.voucher.title }}</h5>

                        <p>{{ claim.voucher.description }}</p>

                        <small>
                            Diklaim:
                            {{ claim.claim_date }}
                        </small>

                    </div>

                </div>

            </div>

        {% endfor %}

        </div>

    {% else %}

        <div class="alert alert-info">

            Kamu belum claim voucher.

        </div>

    {% endif %}

</div>

{% endblock %}